@media (min-width: 1500px) {
    #Learn-Together .background div h1 {
        font-size: 6rem;
    }
    #Learn-Together .background div p {
        font-size: 4rem;
    }
}
@media (max-width: 767px) {
    #Learn-Together .background div h1 {
        font-size: 2.6rem;
    }
    #Learn-Together .background div p {
        font-size: 1.8rem;
    }
}
@media (max-width: 480px) {
    #Learn-Together .background div h1 {
        font-size: 2rem;
    }
    #Learn-Together .background div p {
        font-size: 1.2rem;
    }
}