#contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    background: linear-gradient(180deg, rgba(43,20,65,1) -40%, rgba(2,0,15,1) 100%);
}
#contact .contact-card {
    grid-column: 2/6;
    grid-row: 2/5;
    display: flex;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}
#contact .contact-card img {
    border-radius: 50%;
    width: auto;
    height: 100%;
    margin: 1rem;
}
#contact .contact-card p {
    border-radius: 4px;
    color: white;
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    background: var(--secondary-light);
}
#contact .social-medias {
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background: white;
    bottom: 0;
    left: 0;
    grid-column: 1/7;
    grid-row: 6/7;
    padding: 10px;
}
#contact .social-medias a {
    height: 40px;
    padding: 10px;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-right: 10px;
    transition: .4s;
}
#contact .social-medias a:hover {
    transform: scale(1.2);
    background: var(--primary-light);
}
#contact .social-medias a img{
    height: 40px;
    margin-right: 10px;
}