@media (min-width: 1500px) {
    #projects h2 {
        font-size: 5rem;
    }
}
@media (max-width: 767px) {
    #projects h2 {
        font-size: 2.4rem;
    }
}
@media (max-width: 480px) {
    #projects h2 {
        font-size: 2rem;
    }
}